@media (min-width: 1025px) {
  .h-custom {
    height: 100% !important;
  }
}

.horizontal-timeline .items {
  border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
  position: relative;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ddd;
  top: 0;
  margin-top: -5px;
}

.horizontal-timeline .items .items-list {
  padding-top: 15px;
}

#my-orders-box {
  margin: 1.5em!important;
}

#receiptBox {
  display: flex;
  flex-direction: column!important;

}

// .py-5 {
//   display: flex;
//   flex-direction: column;
//   background: #c4cecf;
//   border-bottom: grey solid 2px;
//     border-top: grey solid 2px;
// }

// header#header-top-image {
//   border-top: grey solid 4px;
// }

// button.btn.btn-outline-dark {
//   background: #aeaeae;
// }

// h1.display-4.fw-bolder {
//   color: deeppink;
// }
