// product whole-box
#product-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// individual item container
#individual-box {
  display: row;
  width: 90%
}


// product-image
.card-img-top {
  padding: 35px;
}

#product-items {
  flex-direction: row;
  justify-content: space-around;
  min-width: 600px;
  border: grey solid 2px;
}

// product descriptions container
#product-descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 300px;
}

// add-to-cart button container
#add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

#combined-page {
    display: flex;
    justify-content: space-around;
    background: #c4cecf;
    border-bottom: grey solid 2px;
    border-top: grey solid 4px;
}

#checkout-box {
  min-width: 500px;
  margin: 3em;
}

.checkout-side {
  padding-top: 48px;
}

.delete-button {
  display: flex;
  justify-content: flex-start;
}

.delete-button-cart {
  border: none;
  background: none;
  color: red;
}


#items-in-cart {
  margin-bottom: 0!important;
}

#testform {
  display: flex;
  flex-direction: column;
}

.continue-shopping {
  display: flex;
  flex-direction: column;
}

#empty-cart {
  background-color: red!important;
}

header#header-top-image {
  border-top: grey solid 4px;
}

button.btn.btn-outline-dark {
  background: #c4cecf;
}

h1.display-4.fw-bolder {
  color: deeppink;
}

#checkout-box-bailey {
  border: grey solid 2px;
}

#coupon-code {
  border: grey solid 2px;
}


